/*  Fonts and colors  */

body {
    font-family: "Roboto";
}

.header, .footer {
    background-color: #1F2937;
    color: #E5E7EB;
}

.Describtion_header {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.Describtion_text {
    font-size: 18px;
    color: #E5E7EB;
}
 
a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    padding: 0;
    margin: 0;
}

.Header_logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

button, .SignUp_form_section {
    background-color: #3882F6;
    color: #E5E7EB;
}

button {
    color: #f9faf8;
}

.Information_header {
    font-size: 36px;
    font-weight: 900;
}

.Quote {
    background-color: #E5E7EB;
}

.Quote_text {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
}

.Quote_author {
    font-weight: bold;
    
}

.Information_header, .Quote_text, .Quote_author, .Cards {
    color: #1F2937;
}

.footer {
    font-size: 18px;
}

.SignUp_form {
    font-size: 24px;
}

.Cards {
    font-size: 18px
}

button {
    font-size: 24px;
}

/* Boxes, margins etc. */

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-items: center;
} 





.Logo_links {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    width: 1370px;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 170px;
    width: 100vw;
    height: 700px;
    padding-bottom: 170px;
}

.Quote {
    height: 570px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Quote_section {
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 1000px;
}

.Quote_text {
    width: 1000px;
}

.Quote_author {
    padding-right: 50px;
    text-align: end;
}

.Information {
    text-align: center;
    height: 670px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.Information_header {
    margin: 70px;
}
.Cards {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    height: 300px;
    margin-bottom: 170px;

}

.card_text {
    width: 200px;
}

.card_image {
    display: block;
    min-width: 200px;
    min-height: 200px;
    border: 4px solid #3882F6;
    border-radius: 15px;
    
}


.Describtion {
    display: flex;
    width: 1370px;
    height: 300px;
    justify-content: space-between;
}

.Describtion_text, .Describtion_header {
    width: 425px;
    
    
}


.Header_links {
    display: flex;
    justify-content: flex-end;
    margin: 0px;
    padding: 0px;
    width: 570px;
    gap: 30px;  
}

.Header_image {
    min-width: 700px;
    min-height: 300px;
    border: 3px solid #E5E7EB;
}

.SignUp_form_section {
    width: 1350px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;  
    align-items: center;
    border-radius: 10px;
    

}

button {
    width: 170px;
    height: 50px;
    margin: 10px 0px;
    border: 3px solid #f9faf8;
    border-radius: 10px;
}

.Header_text {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.Describtion_button {
    width: 170px;
    height: 50px;
    padding: 10px 0px;
    border: none;
    border-radius: 10px;
}

.SignUp_form {
    height: 470px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;  
    align-items: center; 
}

.footer {
    min-height: 130px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.SignUp_form_text_header, button {
    font-size: 24px;
    font-weight: bold;
}