/*  Fonts and colors  */

body {
    font-family: "Roboto";
}

.header, .footer {
    background-color: #1F2937;
    color: #E5E7EB;
}

.Describtion_header {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.Describtion_text {
    font-size: 18px;
    color: #E5E7EB;
}
 
a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    padding: 0;
    margin: 0;
}

.Header_logo {
    font-size: 24px;
    color: #f9faf8;
}

button, .SignUp_form {
    background-color: #3882F6;
    color: #E5E7EB;
}

button {
    color: #f9faf8;
}

.Information_header {
    font-size: 36px;
    font-weight: 900;
}

.Quote {
    background-color: #E5E7EB;
}

.Quote_text {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
}

.Quote_author {
    font-weight: bold;
    
}

.Information_header, .Quote_text, .Quote_author, .Cards {
    color: #1F2937;
}

/* Boxes, margins etc. */

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-items: center;
} 

.footer {
    padding: 40px;
    text-align: center;
}

.SignUp_form {
    margin: 60px;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;   
}

.Logo_links {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1000px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
        justify-content: space-between;
}

.Quote {
    padding: 150px 250px 150px 250px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.Quote_author {
    padding-right: 50px;
}

.Information {
    text-align: center;
    margin: 50px;
    display: flex;
    flex-direction: column;
}

.Cards {
    margin: 50px;
    display: flex;
    justify-content: space-evenly;
    width: 800px;

}

.card_text {
    width: 150px;
}

.card_image {
    width: 150px;
    height: 150px;
}

.Content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Describtion {
    display: flex;
    width: 1000px;
    margin-top: 100px;
    margin-bottom: 100px;
    justify-content: space-between;
}

.Describtion_text, .Describtion_header {
    width: 400px;
    padding: 10px;
    
}

.Describtion_button {
    margin: 10px;
    
}

.Header_links {
    margin: 0px;
    padding: 0px;
    
}

.Header_logo {
    margin: 10px;
}


